workflows/figure generator/research_schematic_agent.json
{
    "name": "Transform Your Selfies into 3D Figurines with Nano Banana AI",
    "nodes": [
        {
            "parameters": {
                "formTitle": "Research Schematic Generator",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Research Description",
                            "placeholder": "Paste your research plan or description here",
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "StylePrefs",
                            "placeholder": "Optional style preferences"
                        },
                        {
                            "fieldLabel": "Negatives",
                            "placeholder": "Optional negative prompts"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ad5fb548-513e-4994-8b00-4918fb6df04b",
            "name": "Form Input",
            "type": "n8n-nodes-base.formTrigger",
            "position": [
                -928,
                288
            ],
            "typeVersion": 2.3,
            "webhookId": "a25c21ac-31df-4127-a398-9d9b5d25e970"
        },
        {
            "parameters": {
                "jsCode": "const raw = $json[\"text\"] ?? $json[\"message\"] ?? JSON.stringify($json);\n// Try to parse JSON from Gemini text output\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch { parsed = { visual_prompt: raw, negative_prompt: '', layout_constraints: '', style: '', icons: [] }; }\nreturn parsed;"
            },
            "id": "7cf26004-c8c4-4177-932f-01aa21fe04d9",
            "name": "Parse Optimized JSON",
            "type": "n8n-nodes-base.code",
            "position": [
                -432,
                288
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "resource": "image",
                "model": "=gpt-4o-image",
                "options": {
                    "size": "1024x1024",
                    "prompt": "={{$json.visual_prompt}}\nStyle: {{$json.style}}\nLayout: {{$json.layout_constraints}}\nIcons: {{ Array.isArray($json.icons) ? $json.icons.join(', ') : $json.icons }}\nNegative: {{$json.negative_prompt}}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                -160,
                288
            ],
            "id": "905ab4b9-95e2-46c7-b286-b13c9b5b4b6c",
            "name": "Generate Image (gpt-image-1)",
            "credentials": {
                "openAiApi": {
                    "id": "aop9amUFVOOwigGz",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a-url",
                            "name": "image_url",
                            "type": "string",
                            "value": "={{$json.url || $json.data?.[0]?.url || $json.image_url}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "753f1ce0-32fe-4d32-8b6e-c70872116226",
            "name": "Extract Image URL",
            "type": "n8n-nodes-base.set",
            "position": [
                128,
                288
            ],
            "typeVersion": 3.4
        },
        {
            "parameters": {
                "amount": 180
            },
            "id": "ac14ce53-bee7-465e-b0bf-df402cadbd01",
            "name": "Wait for Feedback",
            "type": "n8n-nodes-base.wait",
            "position": [
                400,
                288
            ],
            "webhookId": "{{ $json.id || 'research-schematic-feedback' }}",
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "c-approved",
                            "operator": {
                                "name": "filter.operator.equals",
                                "type": "boolean",
                                "operation": "equals"
                            },
                            "leftValue": "={{$json.approved}}",
                            "rightValue": true
                        }
                    ]
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "id": "5acfb500-4974-4631-b8e5-934db93e518c",
            "name": "Approved?",
            "type": "n8n-nodes-base.if",
            "position": [
                640,
                288
            ],
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "url": "={{$json.image_url}}",
                "options": {}
            },
            "id": "0d5c0809-d6d6-40eb-8574-75abd0ba8d96",
            "name": "Download Current Image",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1280,
                272
            ],
            "typeVersion": 4.2
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a-loop",
                            "name": "loop_count",
                            "type": "number",
                            "value": "={{($json.loop_count || 0) + 1}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "23599632-6469-4eba-b638-e5906e571c86",
            "name": "Increase Loop Count",
            "type": "n8n-nodes-base.set",
            "position": [
                688,
                560
            ],
            "typeVersion": 3.4
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "c-max-loop",
                            "operator": {
                                "name": "filter.operator.greaterEqual",
                                "type": "number",
                                "operation": "greaterEqual"
                            },
                            "leftValue": "={{$json.loop_count}}",
                            "rightValue": 5
                        }
                    ]
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "id": "a6d44fba-7bd2-4e03-8125-6c371820f9b8",
            "name": "Reached Max Iterations?",
            "type": "n8n-nodes-base.if",
            "position": [
                912,
                560
            ],
            "typeVersion": 2.2
        },
        {
            "parameters": {
                "resource": "text",
                "modelId": {
                    "__rl": true,
                    "value": "=gemini-2.5-flash",
                    "mode": "id"
                },
                "messages": {
                    "values": [
                        {
                            "type": "system",
                            "text": "你是学术可视化设计师。把用户的科研方案描述转为\"专业学术示意图\"视觉提示。请输出 JSON：{ visual_prompt, negative_prompt, layout_constraints, style, icons }，并严格只返回该 JSON。约束：Serif 字体；白底；细线；冷色（蓝/灰/浅青）；向量风格；一致描边；最小阴影。横向三阶段：1) Structured Extraction（左→右）2) AI Diagnosis + Human Revision（上→下）3) Text Recomposition（左→右）。禁用：霓虹、无衬线、重3D、投影、照片纹理。"
                        },
                        {
                            "type": "user",
                            "text": "用户方案：{{$json['Research Description']}}\n偏好：{{$json.StylePrefs}}\n负面：{{$json.Negatives}}\n请只返回 JSON：{ \"visual_prompt\", \"negative_prompt\", \"layout_constraints\", \"style\", \"icons\" }"
                        }
                    ]
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                -672,
                288
            ],
            "id": "a956ec3d-4199-42c1-85f8-d30011df64af",
            "name": "Message a model",
            "credentials": {
                "openAiApi": {
                    "id": "RVnvsDDZCDRfO5K9",
                    "name": "OpenAi account 3"
                }
            }
        },
        {
            "parameters": {
                "resource": "image",
                "model": "=gemini-2.5-flash-image",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                496,
                560
            ],
            "id": "ed5edb43-89d8-4c42-80e1-06a3d6b1747f",
            "name": "Generate an image",
            "credentials": {
                "openAiApi": {
                    "id": "RVnvsDDZCDRfO5K9",
                    "name": "OpenAi account 3"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Form Input": {
            "main": [
                [
                    {
                        "node": "Message a model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Optimized JSON": {
            "main": [
                [
                    {
                        "node": "Generate Image (gpt-image-1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Image (gpt-image-1)": {
            "main": [
                [
                    {
                        "node": "Extract Image URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Image URL": {
            "main": [
                [
                    {
                        "node": "Wait for Feedback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for Feedback": {
            "main": [
                [
                    {
                        "node": "Approved?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Approved?": {
            "main": [
                [
                    {
                        "node": "Download Current Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Generate an image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Current Image": {
            "main": [
                []
            ]
        },
        "Increase Loop Count": {
            "main": [
                [
                    {
                        "node": "Reached Max Iterations?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Message a model": {
            "main": [
                [
                    {
                        "node": "Parse Optimized JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reached Max Iterations?": {
            "main": [
                [
                    {
                        "node": "Download Current Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait for Feedback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate an image": {
            "main": [
                [
                    {
                        "node": "Increase Loop Count",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "dd09c2ac-f449-4cdc-ba8a-fad4926e5761",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
    },
    "id": "PrSkVjQdpaFHiqYC",
    "tags": []
}